<!DOCTYPE html>
<html>
  <head>
    <title>SUCCESS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SUCCESS</h1>
    <p>Request succeeded<%= val %></p>
  </body>
</html>
